@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Lora", ui-serif, serif;
  --font-mono: "Space Mono", ui-monospace, monospace;

  --radius: 0px;
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-full: 0px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  :root {
    --background: oklch(0.9923 0.0104 91.4994);
    --foreground: oklch(0.1759 0.0275 161.2531);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1759 0.0275 161.2531);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1759 0.0275 161.2531);
    --primary: oklch(0.5687 0.1498 151.9380);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.6088 0.2498 29.2339);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.9523 0.0150 91.4994);
    --muted-foreground: oklch(0.5 0.02 162.27);
    --accent: oklch(0.7721 0.1727 64.1585);
    --accent-foreground: oklch(0.1759 0.0275 161.2531);
    --destructive: oklch(0.5799 0.2380 29.2339);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0 0 0);
    --input: oklch(1.0000 0 0);
    --ring: oklch(0.5687 0.1498 151.9380);
    --sidebar: oklch(0.9723 0.0104 91.4994);
    --sidebar-foreground: oklch(0.1759 0.0275 161.2531);
    --sidebar-primary: oklch(0.5687 0.1498 151.9380);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9523 0.0150 91.4994);
    --sidebar-accent-foreground: oklch(0.1759 0.0275 161.2531);
    --sidebar-border: oklch(0 0 0);
    --sidebar-ring: oklch(0.5687 0.1498 151.9380);
    --tracking-normal: 0.04em;
    --letter-spacing: 0.02em;
  }

  .dark {
    --background: oklch(0.1649 0.0308 162.2739);
    --foreground: oklch(0.9809 0.0260 91.6197);
    --card: oklch(0.2283 0.0445 158.2398);
    --card-foreground: oklch(0.9809 0.0260 91.6197);
    --popover: oklch(0.2283 0.0445 158.2398);
    --popover-foreground: oklch(0.9809 0.0260 91.6197);
    --primary: oklch(0.8484 0.2275 151.1487);
    --primary-foreground: oklch(0.1292 0.0270 165.3808);
    --secondary: oklch(0.6489 0.2370 26.9728);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.2449 0.0308 162.2739);
    --muted-foreground: oklch(0.6 0.02 91.62);
    --accent: oklch(0.7951 0.1631 68.6392);
    --accent-foreground: oklch(0.1292 0.0270 165.3808);
    --destructive: oklch(0.6280 0.2577 29.2339);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9809 0.0260 91.6197);
    --input: oklch(0.2642 0.0387 160.3481);
    --ring: oklch(0.7951 0.1631 68.6392);
    --sidebar: oklch(0.1949 0.0308 162.2739);
    --sidebar-foreground: oklch(0.9809 0.0260 91.6197);
    --sidebar-primary: oklch(0.8484 0.2275 151.1487);
    --sidebar-primary-foreground: oklch(0.1292 0.0270 165.3808);
    --sidebar-accent: oklch(0.2449 0.0308 162.2739);
    --sidebar-accent-foreground: oklch(0.9809 0.0260 91.6197);
    --sidebar-border: oklch(0.9809 0.0260 91.6197);
    --sidebar-ring: oklch(0.7951 0.1631 68.6392);
    --tracking-normal: 0.04em;
    --letter-spacing: 0.04em;
  }

  * {
    border-color: var(--border);
    letter-spacing: var(--tracking-normal);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
